@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  list-style: none;
}

.categoryCard:hover h1 {
  color: rgb(1, 81, 105);
}
.productCard:hover .productHover {
  display: flex;
}

::-webkit-scrollbar {
  background: #a9a9a9;
  width: 4px;
  outline: none;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a9a9a9;
}

::-webkit-scrollbar-thumb {
  background: #2a2f3e;
}

.input {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 5px;
  padding: 10px 8px;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


.BoxShadow{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

